# User-specific files
dataServer/*.suo
dataServer/zDataServer/*.user
client/*.suo
client/zClient/*.user
client/*.user
gameServer/*.suo
gameServer/gameServer/*.user
connectServer/*.suo
connectServer/zConnectServer/*.user
client/.vs
connectServer/.vs
gameServer/.vs
dataServer/.vs

# SQL Server files
dataServer/*.mdf
dataServer/*.sdf
dataServer/*.ldf
dataServer/*.opensdf
client/*.mdf
client/*.sdf
client/*.ldf
client/*.opensdf
gameServer/*.mdf
gameServer/*.sdf
gameServer/*.ldf
gameServer/*.opensdf
connectServer/*.mdf
connectServer/*.sdf
connectServer/*.ldf
connectServer/*.opensdf

# Temporary files
dataserver/ipch
dataserver/Release
dataserver/zDataServer/Release
dataserver/Debug
dataserver/zDataServer/Debug

client/ipch
client/Release
client/zClient/Release
client/Debug
client/zClient/Debug

gameServer/ipch
gameServer/Release
gameServer/gameServer/Release
gameServer/Debug
gameServer/gameServer/Debug

connectServer/ipch
connectServer/Release
connectServer/zConnectServer/Release
connectServer/Debug
connectServer/zConnectServer/Debug



# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

